<% include header %>
<div class="container" style="padding-top: 20px">
    <ul class="collapsible popout">
        <li class="active">
        <div id="chart-options" class="collapsible-header" style="font-size: 20px">Chart Options</div>
        <div class="collapsible-body">
            <div class="container">
                <div class="row">
                    <div class="input-field col s12" style="width: 60%">
                        <select multiple id="topic-select">
                            <% let topics_prefix = Object.keys(topics) %>
                            <% for (let i = 0; i < topics_prefix.length; ++i) { %>
                                <% let terminations = topics[topics_prefix[i]] %>
                                <optgroup label="<%= topics_prefix[i] %>">
                                    <% for (let j = 0; j < terminations.length; ++j) { %>
                                        <% if (topics_prefix[i] === terminations[j]) { %>
                                            <option value="<%= terminations[j] %>">All topics (<%= terminations[j] %>)</option>
                                        <% } else { %>
                                            <option value="<%= topics_prefix[i] + '/' + terminations[j] %>"><%= terminations[j] %></option>
                                        <% } %>
                                    <% } %>
                                </optgroup>
                            <% } %>
                        </select multiple>
                        <label>Select a Topic</label>
                    </div>
                    <div class="col s12"><label> From </label></div>
                    <div class="col s4">
                        <input id="from-date" placeholder="Date" type="text" class="datepicker">
                    </div>
                    <div class="col s8">
                        <input style="width: 40%" id="from-time" placeholder="Time" type="text" class="timepicker">
                    </div>
                    <div class="col s12"><label> To </label></div>
                    <div class="col s4">
                        <input id="to-date" placeholder="Date" type="text" class="datepicker">
                    </div>
                    <div class="col s8">
                        <input style="width: 40%" id="to-time" placeholder="Time" type="text" class="timepicker">
                    </div>
                    <div class="col s12">
                        <div class="input-field col s6" style="width: 30%">
                            <input id="sample-rate" type="text" class="validate" value="1.0">
                            <label for="sample-rate">Sample Rate</label>
                        </div>
                        <div class="input-field col s6" style="width: 30%">
                            <select id="chart-style-select">
                                <option value="scatter">Scatter</option>
                                <option value="line">Line</option>
                                <option value="bar">Bar</option>
                                <option value="bubble">Bubble</option>
                            </select>
                            <label for="chart-style-select">Chart Style</label>
                        </div>
                    </div>
                    <div class="col s12">
                        <button id="submit-query" class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    <div>
                </div>
            </div>
        </div>
        </li>
    </ul>
    <div id="pre-loader" align="center" style="visibility: hidden">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="chart-wrapper" style="visibility: hidden">
        <canvas id="chart" height="200"></canvas>
    </div>
    <div id="show-stat" style="padding-bottom: 20px; visibility: hidden" align="center">
        <a class="waves-effect waves-light btn-small modal-trigger" href="#stat-modal"><i class="material-icons left">show_chart</i>Show Statistic</a>
    </div>
    <div id="alert-modal" class="modal">
        <div class="modal-content">
            <h4 class="header">Malformat Data</h4>
            <p id="alert-text">Please check your input :D</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-teal btn-flat">OK</a>
        </div>
    </div>
    <div id="stat-modal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4 class="header" style="color: rebeccapurple">Statistic</h4>
            <div id="stat-content-wrapper" align="center">

            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-purple btn-flat">Dismiss</a>
        </div>
    </div>
    <script type="text/javascript" src="javascripts/home.js"> </script>
</div>
