<% include header %>
<div class="container" style="padding-top: 20px">
    <ul class="collapsible popout">
        <li class="active">
        <div id="chart-options" class="collapsible-header" style="font-size: 20px">Chart Options</div>
        <div class="collapsible-body">
            <div class="container">
                <div class="row">
                    <div class="input-field col s12" style="width: 60%">
                        <select multiple id="topic-select">
                            <% let topics_prefix = Object.keys(topics) %>
                            <% for (let i = 0; i < topics_prefix.length; ++i) { %>
                                <% let terminations = topics[topics_prefix[i]] %>
                                <optgroup label="<%= topics_prefix[i] %>">
                                    <% for (let j = 0; j < terminations.length; ++j) { %>
                                        <% if (topics_prefix[i] === terminations[j]) { %>
                                            <option value="<%= terminations[j] %>"><%= terminations[j] %></option>
                                        <% } else { %>
                                            <option value="<%= topics_prefix[i] + '/' + terminations[j] %>"><%= terminations[j] %></option>
                                        <% } %>
                                    <% } %>
                                </optgroup>
                            <% } %>
                        </select multiple>
                        <label>Select a Topic</label>
                    </div>
                    <div class="col s12"><label> From </label></div>
                    <div class="col s4">
                        <input id="from-date" placeholder="Date" type="text" class="datepicker">
                    </div>
                    <div class="col s8">
                        <input style="width: 40%" id="from-time" placeholder="Time" type="text" class="timepicker">
                    </div>
                    <div class="col s12"><label> To </label></div>
                    <div class="col s4">
                        <input id="to-date" placeholder="Date" type="text" class="datepicker">
                    </div>
                    <div class="col s8">
                        <input style="width: 40%" id="to-time" placeholder="Time" type="text" class="timepicker">
                    </div>
                    <div class="col s12">
                        <div class="input-field col s6" style="width: 30%">
                            <input id="sample-rate" type="text" class="validate" value="1.0">
                            <label for="sample-rate">Sample Rate</label>
                        </div>
                        <div class="input-field col s6" style="width: 30%">
                            <select id="chart-style-select">
                                <option value="line">Line</option>
                                <option value="scatter">Scatter</option>
                                <option value="bar">Bar</option>
                                <option value="bubble">Bubble</option>
                            </select>
                            <label for="chart-style-select">Chart Style</label>
                        </div>
                    </div>
                    <div class="col s12">
                        <button id="submit-query" class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    <div>
                </div>
            </div>
        </div>
        </li>
    </ul>
    <div style="padding-bottom: 20px">
        <canvas id="chart" height="200"></canvas>
    </div>
    <div id="alert-modal" class="modal">
        <div class="modal-content">
            <h4>Malformat Data</h4>
            <p id="alert-text">Please check your input :D</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>
    <script type="text/javascript">
        // Plugin initializations
        $('.collapsible').collapsible();
        $('select').formSelect();
        $('.datepicker').datepicker();
        $('.timepicker').timepicker();
        $('.modal').modal();
        var ctx = document.getElementById("chart").getContext('2d');
        var canvas = document.getElementById("chart")
        // Post data to middle-end and present error message or plot
        // the data given by the backend.
        window.chart = new Chart(ctx, {});
        $("#submit-query").on("click", function() {
            let topic_select = $('#topic-select').val()
            let alert_text = document.getElementById('alert-text')
            let from_time = document.getElementById('from-time')
            let from_date = document.getElementById('from-date')
            let to_time = document.getElementById('to-time')
            let to_date = document.getElementById('to-date')
            let sample_rate = parseFloat(document.getElementById('sample-rate').value)
            if (topic_select.length === 0) {
                alert_text.innerText = 'Please select a Topic'
                $('#alert-modal').modal('open')
            } else if (from_date.value === '' || to_date.value === '') {
                alert_text.innerText = 'Please enter the dates'
                $('#alert-modal').modal('open')
            } else if (from_time.value === '' || to_time.value === '') {
                alert_text.innerText = 'Please enter the times'
                $('#alert-modal').modal('open')
            } else if (isNaN(sample_rate) || sample_rate < 0.0 || sample_rate > 1.0) {
                alert_text.innerText = 'Sample rate should be in (0.0, 1.0)'
                $('#alert-modal').modal('open')
            } else {
                M.toast({html: 'Fetching Data...', classes: 'rounded'})
                let post_data = {
                    topic: topic_select,
                    time_start: {
                        time: from_time.value,
                        date: from_date.value
                    },
                    time_end: {
                        time: to_time.value,
                        date: to_date.value
                    },
                    sample_rate: sample_rate ,
                    chart_style: $('#chart-style-select').val()
                }
                $.post('/query', post_data, function (data, status) {
                    M.Toast.dismissAll();
                    M.toast({html: data.message, classes: 'rounded'})
                    if (data.status !== 'error') {
                        $('.collapsible').collapsible('close')
                        // Clear the canvas first
                        window.chart.destroy()
                        window.chart = eval(data.chart)
                    }
                })
            }
        })
    </script>
</div>
